/Flagging.Taspen.Web/.vs/*
/Flagging.Taspen.Web/Flagging.Taspen.Web/bin/*
/Flagging.Taspen.Web/Flagging.Taspen.Web/obj/*
/Flagging.Taspen.Web/tempbuildDebug/*
/Flagging.Taspen.Web/Flagging.Taspen.Web/wwwroot/uploads/*
